XMLApplication/StudentEntity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="student">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="addresses">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="stAddr1" type="xs:string" />
                    <xs:element name="stAddr2" type="xs:string" />
                    <xs:element name="city" type="xs:string" />
                    <xs:element name="state" type="xs:string" />
                    <xs:element name="zip" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="type" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="HOME"/>
                        <xs:enumeration value="WORK"/>
                        <xs:enumeration value="OTHER"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="birthDate" type="xs:date" minOccurs="1"/>
        <xs:element name="gender" type="xs:string" minOccurs="1"/>
        <xs:element name="ssn" type="xs:string" minOccurs="1" />
        <xs:element name="other" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required" />
      <xs:attribute name="version" type="xs:integer" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>